/*****************************************************************************/
/* big stuff, main colors
/*****************************************************************************/

body {
    /*
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    */
    /*font: 13.34px Verdana, helvetica, arial, clean, sans-serif;*/
    /*font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;*/
    font-size:100%

}

.wrapper {
    /*display:block!important;*/

    min-width:320px;
    max-width: 784px;

    margin-left: auto;
    margin-right: auto;
}

.collect {
    text-align:left;
    /*background: #FFFEE6;*/
    /*background: rgba(180, 180, 180, .1);*/
}

/*****************************************************************************/
/* style, links.. in order
/*****************************************************************************/

a {
    text-decoration: none;
}

.header {

    display:inline-block;
    width:210px;
    height:62px;
    margin-top:12px;
    background-image: url(../images/sizeoverload_text5.png);
    background-repeat: no-repeat;
}

.links {
    width:210px;
    margin-top:33px;
    text-align:center;
}

.links a, .links a:hover {
    font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
    color: #000;
    padding:5px;
    font-size:20px;
}

.links a:hover
{

    border-bottom: 2px dotted #FF80FF;
    text-decoration: ;
    /*background: #AED180;*/
}

.collect span {

    display:block;
    font-weight:bold;
    text-shadow: 3px 2px 0px rgba(180, 180, 180, .6);
    text-align:center;
    padding:6px;
    margin:10px;
    color: #000;
    flex: 1;


}

.collect a, .collect ul a {
    display:block;
    background: rgba(180, 180, 180, .1);

    padding:6px;
    margin:10px;
    color: #000;
    font-size: 80%;
    border-bottom:1px solid rgba(180, 180, 180, .7);
    text-align: center;

}

.collect a:hover, .collect ul a:hover {
  color: #fff;
  background: #000;
}

.bunnybot {
    border:1px solid black;
    height: 140px;
    width: 108px;
    background-image: url(img/scottpilgrim.png);
}

.programming {
}

.cspan {

    display:block;
    font-weight:bold;
    text-shadow: 3px 2px 0px rgba(180, 180, 180, .6);
    text-align:center;
    font-size:80%;
    color: #000;
    flex: 1;
}
