<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>sizeoverload &raquo; rickybobbycocks</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="author" content="">

<!--<meta name="viewport" content="initial-scale=1">-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--
  <link href="http://feeds2.feedburner.com/git-ready" rel="alternate" title="RSS" type="application/rss+xml">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/flexbox.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/samstyle.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/gh.css" type="text/css" media="screen, projection">

  <!--  <base href="/"> --> <!-- IMPORTANT -->
</head>
<body>

<div class="wrapper">
  <div class="header">
    <div class="links">
      <a href="{{ site.baseurl }}/art/index.html">art</a>
      <a href="{{ site.baseurl }}/programming/index.html">programming</a>
    </div>
  </div>

   <div id="post" class="flexbox">
