{% if page.category == 'art' %}
<div class="scott" style="height: 500px;width: 400px;background-image: url(images/{{ page.custom_sprite }}_sprite.jpg);"></div>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="scripts/jquery.animateSprite.min.js"></script>
<script type="text/javascript">
      $(function() {
                $(".scott, .ramona").animateSprite({
                    fps: 10,
                    loop: true,
                    animations: {
                        walkRight: [0, 1, 2, 3, 4, 5, 6, 7],
                        walkLeft: [15, 14, 13, 12, 11, 10, 9, 8]
                    }
                });

                $('.ramona-left').on('click', function(ev){
                    ev.preventDefault();
                    $('.ramona').animateSprite('play', 'walkLeft');
                });
                $('.ramona-right').on('click', function(ev){
                    ev.preventDefault();
                    $('.ramona').animateSprite('play', 'walkRight');
                });

                $('#play-left').on('click', function(){
                    $('.scott').animateSprite('play', 'walkLeft');
                });

                $('#play-right').on('click', function(){
                    $('.scott').animateSprite('play', 'walkRight');
                });

                $('#stop-animation').on('click', function(){
                    $('.scott').animateSprite('stopAnimation');
                });
                $('#resume-animation').on('click', function(){
                    $('.scott').animateSprite('resumeAnimation');
                });
                $('#restart-animation').on('click', function(){
                    $('.scott').animateSprite('restartAnimation');
                });
                $('#stop-animation').on('click', function(){
                    $('.scott').animateSprite('stopAnimation');
                });
                $('#goto-frame').on('click', function(){
                    $('.scott').animateSprite('frame', 3);
                });
            });
</script>
{% endif %}
