{% if post.category == 'art' %}

<div class="flexItem content scott" style="height: 250px;width:200px;background-image: url({{ site.baseurl }}/images/{{ post.custom_sprite }}_spriteSmall.jpg);">
<span>{{ post.title }}</span>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/scripts/jquery.animateSprite.min.js"></script>

<script type="text/javascript">
var eek = 0;
      $(function() {
                        $('.scott')
                            .mouseenter(function() {
                                eek++;
                                if(eek==1) {
                                    $('.scott').animateSprite({
                                        fps: 10,
                                        loop: true,
                                        animations: {
                                            walkRight: [ 1, 2, 3, 4, 5, 6, 7],
                                        }
                                    });
                                } else {
                                    $('.scott').animateSprite('resumeAnimation');
                                }
                            })
                            .mouseleave(function() {
                                $('.scott').animateSprite('stopAnimation');
                            });


                        /*
                    .mouseleave(function() {
                        $('.scott').animateSprite('stopAnimation');
                    });*/


                $( "div.enterleave" )
                  .mouseenter(function() {
                    n += 1;
                    $( this ).find( "span" ).text( "mouse enter x " + n );
                  })
                  .mouseleave(function() {
                    $( this ).find( "span" ).text( "mouse leave" );
                  });



                $('.ramona-left').on('click', function(ev){
                    ev.preventDefault();
                    $('.ramona').animateSprite('play', 'walkLeft');
                });
                $('.ramona-right').on('click', function(ev){
                    ev.preventDefault();
                    $('.ramona').animateSprite('play', 'walkRight');
                });

                $('#play-left').on('click', function(){
                    $('.scott').animateSprite('play', 'walkLeft');
                });

                $('#play-right').on('click', function(){
                    $('.scott').animateSprite('play', 'walkRight');
                });

                $('#stop-animation').on('click', function(){
                    $('.scott').animateSprite('stopAnimation');
                });
                $('#resume-animation').on('click', function(){
                    $('.scott').animateSprite('resumeAnimation');
                });
                $('#restart-animation').on('click', function(){
                    $('.scott').animateSprite('restartAnimation');
                });
                $('.scott').on('click', function(){
                    $('.scott').animateSprite('stopAnimation');
                });
                $('#goto-frame').on('click', function(){
                    $('.scott').animateSprite('frame', 3);
                });
            });
</script>
{% endif %}

</div>
